# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
*.iml
.vscode/

# Firebase secrets (regenerate with `flutterfire configure`)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# OS
Thumbs.db
.DS_Store
